.container {
    display: flex;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .expanded {
    width: 300px;
    height: 300px;
    background-color: orange;
  }
  